@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
body {
  background-color:#161616;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: #000000cc; */
}
.toprated {
  height: 50vh;
  width: 100%;
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-container {
  height: 80%;
  padding: 0px 30px;
}
.swiper-container * {
  padding: 0px 5px;
}
.heading {
  padding: 10px 40px;
}
.video-react-control-bar ,.video-react-loading-spinner{
  display: none !important;;

}
.video-react-button ,.video-react-big-play-button ,.video-react-big-play-button-left ,.big-play-button-hide{
  display: none !important;;

}
.video-react-video{
  padding: 0 !important;
  margin: 0 !important;
  object-fit: cover !important;
  height: 100% !important;;
  width: 100% !important;
  position: absolute ;
  top:0;
  
}
.overr{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  z-index: 20;
  color: white;
}