.poll {
    font-size: 0.9rem;
    margin:10px 50px;
    width:40%;
  }
  .poll ul {
    margin:25px 0px;
    width: 270px;
    margin-right:30px;
  
  }
  .poll  li {
    list-style: none;
    border: 2px solid #263238;
    border-radius: 3px;
    line-height: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
  }
  .poll ul li button {
    border: none;
    background: transparent;
    outline: none;  
    height: 100%;
    width: 100%;
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
  }
  .poll ul li span {
    display: none;
  }
  .poll ul.results li button span {
    display: inline-block;
    margin-left: 8px;
  }
  .poll ul.results li {
    border-color: #999;
  }